version: "3.9"

services:
  scylla:
    image: scylladb/scylla:latest
    container_name: scylla
    command:
      - --smp=1
      - --memory=150M
      - --alternator-port=8000
      - --alternator-write-isolation=always
      - --alternator-address=0.0.0.0
      - --rf-rack-valid-keyspaces=true
    ports:
      - "9042:9042" # CQL port
      - "9202:9180" # Prometheus metrics (9180 is reserved by Windows)
      - "8000:8000" # Alternator (DynamoDB API)
    volumes:
      - scylla_data:/var/lib/scylla
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-pass1}
      POSTGRES_DB: ${POSTGRES_DB:-oliver_db}
    ports:
      - "5430:5432" # Maps host 5430 to container 5432
    volumes:
      - pg_data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 64M
    command: >
      postgres
      -c max_connections=10
      -c shared_buffers=16MB
      -c work_mem=1MB

  redis:
    image: redis:7-alpine
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD:-default_redis_password}
    deploy:
      resources:
        limits:
          memory: 32M
    command: >
      redis-server 
      --requirepass ${REDIS_PASSWORD:-default_redis_password}
      --maxmemory 20mb
      --maxmemory-policy allkeys-lru
      --appendonly no

  dev-app:
    build:
      context: .
      dockerfile: dev.dockerfile
    container_name: dev_app
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    # dev-app is configured to use the environment values from the repo .env file.
    deploy:
      resources:
        limits:
          memory: 256M

#  opensearch:
#    image: opensearchproject/opensearch:latest
#    container_name: opensearch
#    restart: unless-stopped
#    environment:
#      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m" # Minimum safe JVM heap
#      - "discovery.type=single-node"
#      - "OPENSEARCH_PASSWORD=${OPENSEARCH_PASSWORD:-default_opensearch_password}"
#    ports:
#      - "9200:9200"
#    volumes:
#      - opensearch_data:/usr/share/opensearch/data
#    deploy:
#      resources:
#        limits:
#          memory: 1G # Will need at least 1GB RAM to run reliably

volumes:
  scylla_data:
  pg_data:
  redis_data:
#  opensearch_data: